@charset "UTF-8";
/*Обнуление начало*/
@import url("https: //fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Mukta:wght@300; 400; 500; 600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

body,
html {
  margin: 0;
  font-family: Inter, sans-serif;
  background: white;
  font-weight: 500;
  font-size: 16px;
  color: #252B42;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*Обнуление конец*/
/*--------------------------------------------------------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1305px;
  padding: 0px 15px;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.additional-information__link, .bread-page__link, .contacts-header__item {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  text-align: center;
  text-decoration-line: underline;
  color: #188A00;
}

hr {
  width: 100%;
  background: #D0D0D0;
  height: 1px;
  margin: 22px 0px;
}

/*--------------------------header------------------------------*/
.header__top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  min-height: 25px;
  background-color: #00A08A;
}
.header__bottom {
  padding: 58px 0px 20px 0px;
}
@media (max-width: 454px) {
  .header__bottom {
    padding: 80px 0px 25px 0px;
  }
}
.header__container_top {
  max-width: 864px;
}
.header__container_bottom {
  max-width: 1305px;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 42px;
     -moz-column-gap: 42px;
          column-gap: 42px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 1200px) {
  .header__row {
    gap: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .header__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
.menu {
  padding: 4px 0px;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media (max-width: 768px) {
  .menu__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 453px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 768px) {
  .menu__item:not(:last-child) {
    margin: 0px 25px 0px 0px;
  }
}
@media (max-width: 453px) {
  .menu__item:not(:last-child) {
    margin: 0px 0px 5px 0px;
  }
}
.menu__text {
  font-size: 13px;
  line-height: 1.2307692308;
  color: #FFFFFF;
  letter-spacing: 0.2px;
}

.column-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.column-header:nth-child(1) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 24.55%;
          flex: 0 1 24.55%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.column-header:nth-child(2) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20.77%;
          flex: 0 1 20.77%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.column-header:nth-child(3) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 21.28%;
          flex: 0 1 21.28%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.column-header:nth-child(4) {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1180px) {
  .column-header:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 320px;
            flex: 0 1 320px;
  }
  .column-header:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .column-header:nth-child(3) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 300px;
            flex: 0 1 300px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .column-header:nth-child(4) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 400px;
            flex: 0 1 400px;
  }
}
@media (max-width: 768px) {
  .column-header:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .column-header:nth-child(3) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
  .column-header:nth-child(4) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 400px;
            flex: 1 1 400px;
  }
}
@media (max-width: 425px) {
  .column-header:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.column-header__item:not(:last-child) {
  margin: 0px 0px 20px 0px;
}
@media (max-width: 768px) {
  .column-header__item:not(:last-child) {
    margin: 0px 0px 0px 0px;
  }
}
@media (max-width: 425px) {
  .column-header__item:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
}
.column-header__logo {
  display: block;
  padding: 0px 0px 32.333% 0px;
}
.column-header__text {
  text-align: center;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #2D2D2D;
}
.column-header__search-box:last-child {
  margin: 0px 0px 24px 0px;
}
@media (max-width: 1024px) {
  .column-header__search-box:last-child {
    margin: 0px 0px 20px 0px;
  }
}
@media (max-width: 425px) {
  .column-header__search-box:last-child {
    margin: 0px 0px 0px 0px;
  }
}

.contacts-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.contacts-header:not(:last-child) {
  margin: 0px 0px 9px 0px;
}
.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.search-txt {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 30px;
  background: #FFFFFF;
  border-width: 0px 0.7px 0.7px 0px;
  border-right: 0;
  border-style: solid;
  border-color: #00A08A;
  border-radius: 3px 0px 0px 3px;
  padding-left: 9px;
  color: #7e7e7e;
  font-weight: 300;
  font-size: 12px;
  outline: none;
}
.search-txt:focus {
  color: #7e7e7e;
  border: solid #00A08A;
  border-width: 0.7px 0px 0.7px 0.7px;
  font-size: 13px;
}
.search-txt::-webkit-input-placeholder {
  color: #00A08A;
  font-size: 12px;
}

.search-form__btn {
  background: white;
  border: 1px solid #00A08A;
  border-radius: 0px 3px 3px 0px;
  border-width: 0.7px 0.7px 0.7px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0px 7px 0px 7px;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-form__btn:hover {
  background: #e6e6e6;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 768px) {
  .social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.social__item {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (min-width: 1024px) {
  .social__item img:hover {
    -webkit-filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, 0.3));
            filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, 0.3));
  }
}
@media (max-width: 1180px) {
  .social__item img {
    width: 33px;
  }
}
@media (max-width: 768px) {
  .social__item img {
    width: 35px;
  }
}
@media (max-width: 425px) {
  .social__item img {
    width: 30px;
  }
}
.social__item:not(:last-child) {
  margin: 0px 20px 0px 0px;
}

/*--------------------------page------------------------------*/
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.color-logo-line__container {
  max-width: 1350px;
  margin: 0px auto;
}
.color-logo-line__item {
  width: 100%;
  height: 2px;
  background: #188A00;
  border-radius: 2px;
}

/*--------------------------buttons------------------------------*/
.buttons {
  padding: 20px 0px 35px 0px;
}
@media (max-width: 1025px) {
  .buttons {
    padding: 5px 0px 20px 0px;
  }
}
.buttons__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}
@media (max-width: 425px) {
  .buttons__container {
    margin: 0 -18px;
    row-gap: 5px;
  }
}

.fast-link-top {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -9.25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .fast-link-top {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (max-width: 1000px) {
  .fast-link-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 7px;
  }
}
.fast-link-top__items {
  padding: 0px 9.25px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}
.fast-link-top__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  background-color: #34D0BA;
  border-radius: 3px;
  padding: 0px 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3333333333;
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}
@media (max-width: 1335px) {
  .fast-link-top__item {
    min-height: calc(40px + 10 * ((100vw - 320px) / 1015));
  }
}
@media (max-width: 1335px) {
  .fast-link-top__item {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1015));
  }
}
@media (min-width: 1025px) {
  .fast-link-top__item:hover {
    background: #64D14D;
    -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
}

.fast-link-bottom {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -11.5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .fast-link-bottom {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (max-width: 1000px) {
  .fast-link-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 7px;
  }
}
.fast-link-bottom__items {
  padding: 0px 11.5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
}
.fast-link-bottom__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  background-color: #34D0BA;
  border-radius: 3px;
  padding: 0px 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3333333333;
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}
@media (max-width: 1335px) {
  .fast-link-bottom__item {
    min-height: calc(40px + 10 * ((100vw - 320px) / 1015));
  }
}
@media (max-width: 1335px) {
  .fast-link-bottom__item {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1015));
  }
}
@media (min-width: 1025px) {
  .fast-link-bottom__item:hover {
    background: #64D14D;
    -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
}

/*--------------------------maawad------------------------------*/
.maawad {
  padding: 40px 0px 70px 0px;
}
@media (max-width: 1025px) {
  .maawad {
    padding: 20px 0px 50px 0px;
  }
}
@media (max-width: 425px) {
  .maawad__container {
    margin: 0px -18px;
  }
}
.maawad__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1025px) {
  .maawad__body {
    display: block;
  }
}
.main-menu {
  width: 21.456%;
}
@media (max-width: 1024px) {
  .main-menu {
    width: 100%;
  }
}
.main-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1025px) {
  .main-menu__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5px 1fr 5px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 5px 1fr 5px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
  }
  .main-menu__list > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .main-menu__list > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .main-menu__list > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .main-menu__list > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .main-menu__list > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .main-menu__list > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
  .main-menu__list > *:nth-child(7) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .main-menu__list > *:nth-child(8) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .main-menu__list > *:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
  }
}
@media (max-width: 767px) {
  .main-menu__list {
    -ms-grid-columns: 1fr 5px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 5px 1fr 5px 1fr 5px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px;
  }
  .main-menu__list > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .main-menu__list > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .main-menu__list > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .main-menu__list > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .main-menu__list > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .main-menu__list > *:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .main-menu__list > *:nth-child(7) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .main-menu__list > *:nth-child(8) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }
}
@media (max-width: 550px) {
  .main-menu__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
  }
  .main-menu__list > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .main-menu__list > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .main-menu__list > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .main-menu__list > *:nth-child(4) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .main-menu__list > *:nth-child(5) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
}
.main-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 17px;
  background-color: #34D0BA;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  color: #FFFFFF;
}
.main-menu__link:not(:last-child) {
  margin: 0px 0px 6px 0px;
}
@media (min-width: 1025px) {
  .main-menu__link:hover {
    background: #64D14D;
    -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
}
@media (max-width: 1025px) {
  .main-menu__link:not(:last-child) {
    margin: 0px 0px 0px 0px;
  }
}

.main-content {
  width: 76.628%;
}
@media (max-width: 1024px) {
  .main-content {
    width: 100%;
    padding: 40px 0px 0px 0px;
  }
}
@media (max-width: 425px) {
  .main-content {
    padding: 25px 18px 0px 18px;
  }
}
.main-content__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2272727273;
  color: #020202;
  padding: 2px 0px 1px 0px;
}
@media (max-width: 1335px) {
  .main-content__title {
    font-size: calc(19px + 3 * ((100vw - 320px) / 1015));
  }
}
.bread-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px 0px 0px 0px;
}
.bread-page__link {
  font-size: 16px;
  line-height: 118.75%;
  text-decoration: none;
}
.bread-page__link:hover {
  text-decoration: underline;
}
.bread-page__subtitle {
  position: relative;
  font-weight: 300;
  font-size: 16px;
  line-height: 118.75%;
  color: #000000;
  padding: 0px 0px 0px 14px;
  margin: 0px 0px 0px 2px;
}
.bread-page__subtitle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
  border-width: 1px 0px 0px 1px;
  border-style: solid;
  border-color: #000;
  padding: 3px;
}

.additional-information {
  padding: 0px 0px 30px 0px;
}
.additional-information__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 118.75%;
  text-decoration: none;
  text-align: left;
}
.additional-information__link:hover {
  text-decoration: underline;
}
.additional-information__link:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.preventive-examination {
  padding: 8px 0px 8px 0px;
}
.preventive-examination__subtitle {
  font-weight: 600;
  font-size: 17px;
  line-height: 1.1875;
  text-align: left;
  color: #333333;
  padding: 0px 0px 20px 0px;
  letter-spacing: 0.4px;
}
@media (max-width: 1335px) {
  .preventive-examination__subtitle {
    font-size: calc(15px + 2 * ((100vw - 320px) / 1015));
  }
}
.preventive-examination__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.875;
  color: #000000;
  letter-spacing: 0.4px;
}
@media (max-width: 1335px) {
  .preventive-examination__text {
    font-size: calc(14px + 2 * ((100vw - 320px) / 1015));
  }
}
.preventive-examination__list {
  margin: 0px 0px 30px 0px;
}
.preventive-examination__list li {
  list-style: inside;
}
.preventive-examination__item {
  font-weight: 300;
  line-height: 1.875;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0.4px;
}
@media (max-width: 1335px) {
  .preventive-examination__item {
    font-size: calc(14px + 1 * ((100vw - 320px) / 1015));
  }
}
.preventive-examination__link {
  font-weight: 300;
  line-height: 1.875;
  font-size: 16px;
  color: #188A00;
  letter-spacing: 0.4px;
  text-decoration: underline;
}
@media (max-width: 1335px) {
  .preventive-examination__link {
    font-size: calc(14px + 2 * ((100vw - 320px) / 1015));
  }
}
.preventive-examination__link:hover {
  text-decoration: none;
}

.Citizens-rights {
  padding: 8px 0px 8px 0px;
}
.Citizens-rights__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
  color: #000000;
}
@media (max-width: 1335px) {
  .Citizens-rights__text {
    font-size: calc(14px + 2 * ((100vw - 320px) / 1015));
  }
}
.Citizens-rights__text:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.omh {
  padding: 23px 0px;
}
.omh__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #188A00;
  text-decoration: none;
}
@media (max-width: 1335px) {
  .omh__link {
    font-size: calc(14px + 2 * ((100vw - 320px) / 1015));
  }
}
.omh__link:hover {
  text-decoration: underline;
}
.omh__link:not(:last-child) {
  margin: 0px 0px 25px 0px;
}

/*--------------------------dzm-nav------------------------------*/
.dzm-nav {
  padding: 70px 0px 200px 0px;
}
@media (max-width: 769px) {
  .dzm-nav {
    padding: 40px 0px 150px 0px;
  }
}
.dzm-nav__container {
  max-width: 1161px;
  padding: 0px 15px;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
.dzm-nav__logo:not(:last-child) {
  margin: 0px 0px 30px 0px;
}
@media (max-width: 769px) {
  .dzm-nav__logo {
    padding: 0px 0px 0px 5px;
  }
}
.dzm-nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -17.5px -30px;
}
@media (max-width: 630px) {
  .dzm-nav__row {
    margin: 0px -17.5px -50px;
  }
}
.dzm-nav__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0px 17.5px;
  margin: 0px 0px 30px 0px;
}
@media (max-width: 1040px) {
  .dzm-nav__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 630px) {
  .dzm-nav__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0px 0px 50px 0px;
  }
}
.item-card__image {
  display: block;
  padding: 0px 0px 100% 0px;
}
.item-card__image:not(:last-child) {
  margin: 0px 0px 20px 0px;
}
@media (max-width: 630px) {
  .item-card__image:not(:last-child) {
    margin: 0px 0px 10px 0px;
  }
}
.item-card__subtitle {
  font-weight: 400;
  font-size: 22px;
  font-size: 22px;
  line-height: 1.2272727273;
  color: #303036;
}
@media (max-width: 1335px) {
  .item-card__subtitle {
    font-size: calc(17px + 5 * ((100vw - 320px) / 1015));
  }
}
.item-card__subtitle:hover {
  text-decoration: underline;
}
@media (max-width: 630px) {
  .item-card__subtitle {
    padding: 0px 0px 0px 5px;
  }
}

/*--------------------------footer------------------------------*/
.footer {
  background: #878A8F;
  width: 100%;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px 91px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 38px 0px;
}
.menu-footer__item:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.menu-footer__link {
  font-weight: 400;
  font-size: 17px;
  line-height: 123.5294117647%;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .menu-footer__link {
    font-size: 15px;
  }
}
.menu-footer__link:hover {
  text-decoration: underline;
}